{% extends "base.html" %}

{% block title %}
    Create Trip 
{% endblock %}

{% block content %}
<h2>Create a New Trip</h2>
<form method="POST" action="{% url 'create_trip'%}">
    {% csrf_token %}
    <label for="trip_name">Trip Name:</label>
    <input type="text" name="trip_name" required>

    <label for="trip_date">Trip Date:</label>
    <input type="date" name="trip_date" required>

    <label for="trip_description">Trip Description:</label>
    <textarea name="trip_description" required></textarea><br>

    <label for="trip_leader">Trip Leader:</label>
    <input type="text" name="trip_leader" required>

    <label for="trip_capacity">Trip Capacity:</label>
    <input type="number" name="trip_capacity" required>

    <label for="subclub">Subclub:</label>
    <input type="text" name="subclub" required>

    <button type="submit">Create Trip</button>
</form>
{% endblock %}